body {
    font-size: 2.5px;
    background-color: #000000;
}
section.grid {
    margin: 0 auto;
    width: 255em;
    margin-top: 15em;
    height: 195em;
}
div.column {
    width: 15em;
    float: left;
}
div.content {
    font-size: 8px;
    font-weight: bold;
}
.ui.cube.shape .side:first-child,
.ui.cube.shape.flipsStart .side:first-child {
    background-color: #BDA0CB;
}
.ui.cube.shape .side:nth-child(2),
.ui.cube.shapeflipsStart .side:nth-child(2) {
    background-color: #B2DFEE;
}
.ui.cube.shape .side:nth-child(3),
.ui.cube.shape.flipsStart .side:nth-child(3) {
    background-color: #F6CCDA;
}
.ui.cube.shape .side:last-child,
.ui.cube.shape.flipsStart .side:last-child {
    background-color: #9FB6CD;
}
.flipsStopped .ui.cube.shape .side {
    background-color: #BDA0CB;
}
.ui.cube.shape.flipsStart div.content {
    color: #FFF;
}
